body{
    background: #2C4147;
}

.navBar{
    /* width: 1086px; */
    height: 91px;
    background: #F4F4F4;
    border: 1px solid #000000;
    box-sizing: border-box;   
}

 .links{
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #16856A;
    line-height: 16px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
}

.nav-buttons{
/* width: 44px;
height: 16px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: right;
justify-content: space-between;
color: #16856A;
margin-left: 1200px;
float: left; */
font-size: 18px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
color: #16856A;
line-height: 16px;
text-align: right;
display: flex;
justify-content: space-between;
/* padding: 20px; */
margin-left: 400px;
margin-right: 400px;
padding-left: 10px;
display: inline-block;

}

.life-tracker{
    position: absolute;
width: 175px;
height: 40px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 40px;
padding: 40px;
/* identical to box height */


color: #FFFFFF;
}

img{
    width: 100px;
    height: 100px;
    float: left;
}

 /* .heroimg{
    width: 100%;
    height: 100%;
    float:right;
} */